@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Futura-LT-W01-Book";
  src: url("~assets/fonts/futura-lt-w01-book.eot");
  src: url("~assets/fonts/futura-lt-w01-book.eot") format("eot"),url("~assets/fonts/futura-lt-w01-book.woff2") format("woff2"),url("~assets/fonts/futura-lt-w01-book.woff") format("woff"),url("~assets/fonts/futura-lt-w01-book.ttf") format("truetype"),url("~assets/fonts/futura-lt-w01-book.svg") format("svg");
  font-display: block;
}

@font-face {
  font-family: "Avenir-LT-Light";
  src: url("~assets/fonts/futura-lt-w01-book.eot");
  src: url("~assets/fonts/futura-lt-w01-book.eot") format("eot"),url("~assets/fonts/futura-lt-w01-book.woff2") format("woff2"),url("~assets/fonts/futura-lt-w01-book.woff") format("woff"),url("~assets/fonts/futura-lt-w01-book.ttf") format("truetype"),url("~assets/fonts/futura-lt-w01-book.svg") format("svg");
  font-display: block;
}

@font-face {
  font-family: "Avenir-LT-W05_35-Light";
  src: url("/fonts/avenir-lt-w05-light") format("woff2"), url("/fonts/avenir-lt-w05-light.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("~assets/fonts/raleway-normal-400.woff2") format('woff2');
  font-display: block;
}

body {
  background-color: black;
}

.menu-sidebar {
  display: inline;
}

.bg-grey {
  background-color: #444;
}

.bg-grey-medium {
  background-color: #6F7777;
}

.bg-grey-green {
  background-color: #B6CACB;
}

.title-line {
  width: 30px;
  height: 3px;
}