@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Light.ttf') format('truetype');
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(90deg) brightness(111%) contrast(101%);
}